h1 {
  font-size: 14px;
  text-align: center;
}
#chart {
  height: 300px;
  margin: 0 auto;
  position: relative;
  width: 300px;
}
#oncograph{
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 150px;
}
#bar{
	position: absolute;
	z-index: 2;
	display: none;
}
.barGraph{
	display: none;
}
.barGraph.shouldDisplay{
	display: block;
}
.highlighted, .selected{
	stroke: green;
}
.info {
	position: absolute;
	margin-top: 20px;
	width: 400px;
	color: #333;
	font-size: 10px;
	padding: 5px;
	text-align: left;
	z-index: 2;
}

/* From https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 47%;
  left: 43%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}